*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'valorant'; /*Fonte para o logo*/
    src:url(./fontes/Valorant\ Font.ttf) format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'mark'; /*Fonte para h1 e h2*/
    src:url(./fontes/Mark-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'futurist'; /*Fonte para p*/
    src:url(./fontes/FUTRFW.TTF) format('truetype');
    font-weight: normal;
}

body, input, textarea, button{
    font-family: futurist;
    background-color: #1a1f2a;
}

header{
    font-family: mark;
}

.name-valorant{
    font-family: valorant;
}

header{
    padding: 16px;
    background-color: black;
    color: #FF5252;
}

header .container, 
header .header-site{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-valorant {
    margin-left: 8px;
    margin-top: 8px;
}

header li{
    display: inline;
    font-size: 18px;
}

header nav li a{
    text-decoration: none;
    margin-left: 16px;
    color: #FF5252;
    font-size: 18px;
}

header nav li a:hover{
    text-decoration: underline;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section .container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container img{
    height: 480px;
    margin-right: 32px;
}

section h2,
section h3,
section p{
    color: #FF5252;
}

section h2{
    margin-bottom: 16px;
}

#send-play h2{
    margin-bottom: 32px;
}

#send-play .container,
#contact .container{
    display: block;
}

.form-plays
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #fff;
    color: #fff;
}

input[type="file"] {
    border: none;
    outline: none;
    content: none;
}

input[type="file"]::after {
    content: "Escolha um arquivo";
}

form textarea{
    resize: none;
    height: 124px;
}

form button{
    background-color: #FF5252;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #ff6f6f;
}

video{
    height: 380px;
}

#contact .container img{
    height: 32px;
}

#contact .container li{
    display: inline;
    text-decoration: none;
}

footer{
    background-color: black;
    padding: 16px 0;
    color: #fff;
    margin-top: 64px;
}